@import './variables.scss';

body{
    background-color: $bg_color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 500px;
    height: auto;
    padding: 40px 20px;
    border: 2px solid white;
    margin: 80px auto;
    // form.show{
    //     transition: opacity 0.3s;
    //     opacity: 1;
    // }
    form{
        // opacity: 0;
        width: 90%;
        margin: 0 auto;
        height: 350px;
        padding: 15px;
        background-color: rgba(255,255,255,0.5);
        input{
            padding: $input_padding;
            width: 50%;
            transition: 0.2s;
            margin: 10px;
            &:hover{
                outline: none;
                border: none;
                border-radius: $inp_radius;
            }
        }
    }
}