* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 50px 0;
}

.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 2fr 1fr 2fr;
    grid-gap: 8px;
    grid-template-areas: "d1 d2 d2 d3"
    "d1 d4 d5 d5";
}

.item1 {
    grid-area: d1;
    background-image: url(https://images.unsplash.com/photo-1530549387789-4c1017266635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item2 {
    grid-area: d2;
    background-image: url(https://images.unsplash.com/photo-1523875194681-bedd468c58bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item3 {
    grid-area: d3;
    background-image: url(https://images.unsplash.com/photo-1576858574144-9ae1ebcf5ae5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item4 {
    grid-area: d4;
    background-image: url(https://images.unsplash.com/photo-1541252260730-0412e8e2108e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=322&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item5 {
    grid-area: d5;
    background-image: url(https://images.unsplash.com/photo-1495555687398-3f50d6e79e1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}